
header { 
    font-size: 80px;
    margin: 0;
    padding: 0;

}

h1 {
    margin: 0;
    padding: 0;
}

body {
    background-blend-mode: color-dodge;
    background-color:#DCE775;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto auto;
    align-items: center;
}

#dice {
    width: 200px;
    margin: 20px;
}

